header {
    margin-top: 0;
    padding-top: 0;

    .boxx {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo {
        margin-top: 20px;
    }
    .nav-right {

        ul {
            display: flex;
            align-items: center;
            gap: 0 35px;
            color: #fff;
        }


    }

    .nav-link {
        text-decoration: none;
        color: #fff;
    }

    @media screen and (max-width: 450px) {
        .logo {
            width: 55px;
            height: 45px;
        }

        .nav-right {
            margin-top: 10px;

            ul {
                gap: 10px;
            }


            .list {
                font-size: 12px;
            }
        }
    }
}